mixin post(post)
  - const markdownOptions = { imgUrlPrefix: `${url.pathToRoot}${post.slug}` }
  .pt-4

    //- Title
    h1.bold.text-5.arial.teal
      a.link(href=post.url)=post.title
    .text-01.gray-7.sans=`Published ${post.displayDate}`

    //- Body
    .prose.md_prose-lg.lg_prose-xl.helvetica.lh-normal.pt-1!=markdown(post.body, markdownOptions)

    //- Tags
    .pt-1.flex
      .flex.gray-6 Tags:
      each tag in post.tags
        .flex-none.mx-01
          a.link.teal.mr-01(href=tag.url)=tag.name

    //- Typo link
    a.link(href=post.editUrl target="_blank") Edit this post on GitHub

    //- Separator
    hr.border-b-001.border-teal.border-opacity-25p.my-4
